body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: #444;
}

h1 {
  font-family: 'Poppins', sans-serif;
  color: #31D0BF;
  font-size: 42px;
  margin: 20px 0;
  text-shadow: 1px 1px 1px #A1A1A1;
}

.content {
  width: 960px;
  margin: 0 auto;
}

.venues-list {
  list-style-type: none;
  padding: 0;
}

.venues-list li{
  border: white solid 1px;
  box-shadow: 0px 1px 2px #D1D1D1;
  margin: 20px 0;
  padding: 10px;
}
